:root{
    --xcolor: #b4e663;
    --ocolor: #596fa8;
    --contrast-color:#151416;
    --highlight-color:#f8cf53;
    --main-color:#ebdbdc;

}
.xoicon{

    animation: add-icon 0.5s forwards;
}
@keyframes add-icon {
    0%{
        width: 0px;
        height: auto;
    }
    90%{
        width: 110px;
        height: auto;
    }
    100%{
        width: 100px;
        height: auto;
    }
}
body{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    z-index:3;
    color:var(--main-color);
    background-color: var(--contrast-color);
}
.start{
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    font-size: 3rem;
    animation: start-show 0.5s forwards;
    
}
@keyframes start-show {
    0%{
           margin-top: -1000px;
    }
    60%{
        margin-top: 250px;

    }
    80%{
        margin-top: 200px;
    }
    100%{
        
    }
}
.start-hidden{
    /*transition: translateX(-100px) 3s ease-in;*/
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    animation: hide-start 2s forwards;
}
@keyframes hide-start {
   
    0%{
        margin: 10px;
    }
    30%{
         margin-left: 500px;
    }
    100%{
         margin-left: -10000px;
        overflow: hidden;
    }
}
.start>h1,
.start-hidden
{
    color: var(--ocolor);
    -webkit-text-stroke: 3px var(--ocolor);
    text-shadow:6px 6px 0 var(--xcolor);
}
.start-button,
.start-hidden>.start-button{

    transition: all 0.5s ease-in; 
    background-color: var(--contrast-color);
    color: var(--xcolor);
    outline: none;
    border: 2px solid var(--xcolor);
    width: 8rem;
    font-size: 1.5rem;
    border-radius: 10px;
}
.start-button:hover{
    color: var(--highlight-color);
    border-color: var(--highlight-color);
    transition: all 0.5s ease-in;
}

.game{
    visibility: hidden;
    position: fixed;
    max-height: 0;
}
.game-show
{
    /*position: fixed;*/
    animation: show 3s forwards;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
   
}
@keyframes show {
    0% {
        visibility: hidden;
        max-height: 0;
        opacity:0;
    }
    50%{
        opacity: 0;
    }
    100%{
    
        visibility: visible;
         height: 100%;
         opacity: 1;
         margin-top: -150px;
           
    }
}
.winner-screen-first{
    visibility:hidden;
    max-height: 0;
}
.winner-background{

    height: 100vh;
    width:100vw;
    margin:0;
    background-color:rgb(21, 20, 22, 0.9);
    position: fixed;
    z-index:3;
   
}
.text-wrapper{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width:100vw;
    z-index:5;

}
.winner-text{

    font-size: 4rem;
    color: var(--highlight-color); 
    /*z-index: 5;
    left:25%;
    top:40%;*/
   
}
.winner-screen-show{

    animation: show-winner 2s forwards; 
}
@keyframes show-winner{

    0%{
        opacity: 0;
        visibility: hidden;
        max-width:0;
        max-height:0;
    }
    60%{
        opacity: 0;
        visibility: visible;
    }

    100%{
        opacity: 1;
        visibility: visible;
        min-height: 100%;
        width: 100%;
        z-index:5;
        position:fixed;
        top:0;
        bottom: 0;
        left:0;
        right:0;
    }

}
.winner-screen-hide{

    animation: hide-winner 2s forwards; 
}
@keyframes hide-winner{

    0%{
        opacity: 1;
        visibility: visible;
        min-height: 100%;
        width: 100%;
        z-index:5;
        position:fixed;
        top:0;
        bottom: 0;
        left:0;
        right:0;
    }
    40%{
        opacity: 0;
        visibility: visible;
    }
    100%{
        opacity: 0;
        visibility: hidden;
        max-width:0%;
        max-height:0;
    }

}
button{
    font-family:inherit;  
}

.board{
    height: 480px;
    width: 480px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid var(--contrast-color);
    
}
.game-options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.option{
    transition: all 0.5s ease-in;
    border: 3px solid var(--highlight-color);
    color: var(--highlight-color);
    padding: 5px;
    width: 200px;
    text-align:center;
    border-radius: 10px;
}
.active-option{

    background-color: var(--highlight-color);
    color:var(--ocolor);
    border-color:var(--ocolor);
    transition: all 0.5s ease-in;
}
label,
.restart-button,
.play-again-button{
    font-size: 1.5rem;
    height: 3rem;
    padding: 3px;
    font-weight: bold;
   
}
label,
button{
    cursor:pointer;
}
input[type = "radio"]{
    -webkit-appearance: none;
  appearance: none;
  overflow: hidden;
  max-height: 0;
  position: fixed;

}
.cell{
    border: 3px solid var(--contrast-color);
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
}
.restart-button,
.play-again-button{
    width: 200px;
    background-color: var(--contrast-color);
    color:var(--xcolor);
    border-radius: 10px;
    border: 3px solid var(--xcolor);
    transition: all 0.5s ease-in;
}
.restart-button:hover,
.play-again-button:hover{
    background-color: var(--xcolor);
    color:var(--ocolor);
    border-color:var(--ocolor);
    transition: all 0.5s ease-in;
}